{{ define "base" }}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>evetools {{ template "title" . }}</title>
  <link rel='stylesheet' href='/css/styles.css'>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>
    [x-cloak] { display: none; }
  </style>
  <script src='/js/alpine.js'></script>
  <script src='/js/d3.v6.min.js'></script>
  <script src="/js/charts.js"></script>
  <script src="/js/util.js"></script>
  {{ template "javascripts" . }}
</head>
<body class="bg-gray-300 text-gray-900" x-data="{ navOpen: false, avatarOpen: false, marketOpen: false }">

  {{ $user := currentUser }}

  <header class="lg:px-4 lg:py-2 lg:flex lg:items-center lg:justify-between lg:h-16 bg-gray-900 text-gray-300">
    <div class="flex items-center justify-between px-4 py-3 lg:p-0">
      <a class="text-2xl" href="/">evetools</a>
      {{ if $user }}
      <div class="lg:hidden">
        <button @click="navOpen = !navOpen" type="button" class="block text-gray-500 hover:text-gray-300 focus:text-gray-300 focus:outline-none">
          <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path x-show="!navOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            <path x-cloak x-show="navOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      {{ end }}
    </div>
    {{ if $user }}
    <nav x-cloak :class="navOpen ? 'block' :'hidden'" class="lg:block">
      <div class="px-2 py-2 lg:flex lg:items-center lg:p-0">
        <a href="/" class="block px-2 py-1 text-gray-100 font-semibold rounded hover:bg-gray-800">Home</a>
        <a href="/browse" class="mt-1 block px-2 py-1 text-gray-100 font-semibold rounded hover:bg-gray-800 lg:mt-0 lg:ml-2">Find Items</a>
        <a href="/transactions" class="mt-1 block px-2 py-1 text-gray-100 font-semibold rounded hover:bg-gray-800 lg:mt-0 lg:ml-2">Wallet Transactions</a>
        <!-- BEGIN market menu -->
        <div class="mt-2 border-t border-gray-800 lg:hidden">
          <dd class="mt-1 px-2 py-1 block text-gray-500 font-semibold rounded">Market</dd>
          <dt>
            <a href="/orders/current" class="mt-1 px-8 py-1 block text-gray-100 font-semibold rounded hover:bg-gray-800 lg:mt-0 lg:ml-2">Current Orders</a>
            <a href="/orders/history" class="mt-1 px-8 py-1 block text-gray-100 font-semibold rounded hover:bg-gray-800 lg:mt-0 lg:ml-2">Order History</a>
          </dd>
        </div>
        <div class="hidden lg:relative lg:block lg:ml-4" @keydown.window.escape="marketOpen = false" @click.away="marketOpen = false">
          <button class="px-1 py-4 focus:outline-none font-semibold" @click="marketOpen = !marketOpen">
            Market
          </button>
          <div x-cloak x-show='marketOpen' class="absolute right-0 mt-2 py-2 w-40 bg-white rounded-lg shadow-xl">
            <a href="/orders/current" class="block px-4 py-2 text-gray-900 hover:bg-blue-500 hover:text-gray-100">Current Orders</a>
            <a href="/orders/history" class="block px-4 py-2 text-gray-900 hover:bg-blue-500 hover:text-gray-100">Order History</a>
          </div>
        </div>
        <!-- END market menu -->

        <!-- BEGIN avatar menu -->
        <div class="hidden lg:relative lg:block lg:ml-4" @keydown.window.escape="avatarOpen = false" @click.away="avatarOpen = false">
          <button class="p-1 flex items-center focus:outline-none" @click="avatarOpen = !avatarOpen">
            <span class="mx-2 font-semibold">{{ $user.ActiveCharacterName }}</span>
            <figure class="h-12 w-12 rounded-full overflow-hidden border-2 border-gray-700 focus:outline-none">
              <img class="h-full w-full object-cover" src="{{ $user.ActiveCharacterID | avatarURL }}" alt="{{ $user.ActiveCharacterName }}">
            </figure>
          </button>
          <div x-cloak x-show='avatarOpen' class="absolute right-0 mt-2 py-2 w-40 bg-white rounded-lg shadow-xl">
            <a class="block px-4 py-2 text-gray-900 hover:bg-blue-500 hover:text-gray-100" href="/settings">Settings</a>
            <a class="block px-4 py-2 text-gray-900 hover:bg-blue-500 hover:text-gray-100" href="/logout">Logout</a>
          </div>
        </div>
      </div>
      <div class="px-4 py-4 border-t border-gray-800 lg:hidden">
        <div class="flex items-center">
          <img class="h-8 w-8 border-2 border-gray-700 rounded-full object-cover" src="{{ $user.ActiveCharacterID | avatarURL }}" alt="{{ $user.ActiveCharacterName }}">
          <span class="ml-3 font-semibold text-gray-300">{{ $user.ActiveCharacterName }}</span>
        </div>
        <div class="mt-4">
          <a class="block text-gray-500 hover:text-gray-300" href="/settings">Settings</a>
          <a class="mt-2 block text-gray-500 hover:text-gray-300" href="/logout">Logout</a>
        </div>
      </div>
      <!-- END avatar menu -->
    </nav>
    {{ end }}
  </header>
  {{ template "content" . }}
</body>
</html>
{{ end }}

{{ define "title" }}{{ end }}
{{ define "javascripts" }}{{ end }}
