{{ define "javascripts" }}
<script src="/js/search.js"></script>
{{ end }} 

{{ define "content" }}
<main class="mt-10 mb-10 container mx-auto max-w-6xl"
      x-data="viewData"
      x-init="initialize()">
  <form id="search" @submit="handleSearch($event)">
    <div class="mx-auto flex w-full sm:w-4/5 max-w-screen-sm items-center rounded-xl overflow-hidden border border-gray-500">
      <input x-model="filter" class="px-4 py-4 w-full bg-gray-100 focus:outline-none"
             placeholder="Search by name...">
      <button form="search" class="px-4 py-4 bg-blue-500 text-gray-100">
        Search
      </button>
    </div>
  </form>
  <div class="mt-8 mx-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <template x-for="type in marketTypes" :key="type.id">
      <div class="mt-4 py-4 w-full h-48 flex flex-col justify-between border border-gray-500 rounded-xl shadow-xl bg-gray-100">
        <div class="px-4">
          <div>
            <img class="h-12 w-12 float-right" :src="imgURL(type)">
            <h2 class="text-lg font-semibold clearfix" x-text="type.name"></h2>
          </div>
          <a class="block object-bottom mt-4 py-2 px-4 rounded-md shadow-md bg-blue-500 text-gray-300 text-center"
             :href="hrefType(type.id)">View Details</a>
        </div>
        <div class="mt-4 px-4 border-t-2 px-4 pt-4 flex items-center flex-row-reverse">
          <button @click="toggleFavorite(type)" class="focus:outline-none">
            <svg class="h-6 w-6 stroke-current text-gray-500"
                 :class="{'text-blue-500': isFavorite(type.id), 'fill-current': isFavorite(type.id)}"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
            </svg>
          </button>
          <button @click="openTypeInEVE(type.id)" class="mr-8 focus:outline-none">
            <svg class="h-6 w-6 stroke-current text-gray-500 hover:text-blue-500"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
            </svg>
          </button>
        </div>
      </div>
    </template>
  </div>
</main>
{{ end }}
